<h2>New evento</h2>

<%= render "form.html", changeset: @changeset,
                        action: sede_evento_path(@conn, :create, @sede) %>

<%= link "Back", to: sede_evento_path(@conn, :index, @sede) %>
